.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 5%;
}

.login-container > .logo{
    margin-top: 10%;
}

.container-login{
    border-radius: 20px;
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 2%;
    box-shadow: rgba(82, 82, 82, 0.35) 0px 5px 15px;
}

h4{
    font-size: 2rem;
    font-weight:bolder;
    margin: 0.5% 5%;
}

.container-login > p{
    color: gray;
    margin: 1%;
    font-size: small;
}


.login-form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.login-form label{
    color: gray;
    margin-top: 1%;
    font-size: small;
}

.login-form input{
    margin: 1% 0%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.signin-btn{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #2AB28F;
    padding: 2%;
    margin-top: 5%;
    cursor: pointer;
}
.reset-password-link{
    color: gray;
    margin-top: 3%;
    font-size: small;
}

.password-warning{
    color: rgb(255, 0, 0);
    font-size: x-small;
}

/* Media query for responsiveness for smaller devices */
@media only screen and (max-width: 600px) {
    .login-container {
      padding-bottom: 15%;
    }
  
    .container-login {
      width: 80%;
      padding: 5%;
    }
    
    .container-login > h4 {
      font-size: 1.8rem;
      margin: 5% 0%;
    }
    
    .login-form {
      margin-top: 10%;
    }
    
    .login-form label {
      font-size: 0.8rem;
    }
    
    .login-form input {
      padding: 5%;
      margin: 5% 0%;
    }
    
    .login-btn {
      margin-top: 10%;
      font-size: 0.8rem;
      padding: 5%;
    }
  }
    