.org-container {
  width: 85%;
  background-color: white;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
}

.org-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.org-left-header {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

/* Media query for responsivenes Md  */
@media (max-width: 768px) {
  .org-container {
    width: 90%;
    margin: 3%;
    padding: 2%;
  }

  .org-left-header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
}
