.inv-container {
  width: 85%;
  background-color: white;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
}

.inv-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-btn {
  background-color: gray;
  border-radius: 10px;
  margin: 1% 0.5%;
}

.inv-left-header {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

.inv-right-header {
  border-radius: 10px;
}

/* Media query for responsiveness */
@media (max-width: 1224px) {
  .inv-container {
    width: 90%;
    margin: 3%;
    padding: 2%;
  }

  .inv-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .inv-left-header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .inv-right-header {
    margin-top: 1rem;
    width: 100%;
  }
}
