.container {
    margin: 3%;
    padding: 3%;
  }
  .new-org-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
.inner-content{
    padding: 2%;
}

.new-complain-form{
    padding: 0% 2%;
}
  
  .header-org-btns {
    display: flex;
    align-items: center;
  }
  
  .header-org-btns > .left-btns {
    width: 20%;
    justify-content: space-between;
  }
  
  .right-btns {
    justify-content: space-between;
    width: 10%;
  }
  
  .back-btn {
    display: flex;
    align-items: center;
    border: none;
    color: gray;
    background-color: white;
    cursor: pointer;
    font-size: large;
    margin: 1rem;
  }
  
  .btn {
    padding: 9% 13%;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
  }
  
  .cancel-btn {
    color: gray;
    background-color: #dadada;
    border: 1px solid rgb(170, 170, 170);
    margin-right: 8%;
  }
  
  .save-btn {
    color: white;
    background-color: rgb(29, 202, 107);
    border: none;
  }
  
  .data-field {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 2% 0%;
    margin: 1% 0;
    border-bottom: 1px solid gray;
  }

.input-field {
    width: 600px;
}
  
  .form-left {
    width: 40%;
  }
  
  /* Media Queries for Responsive Design */
  
  @media (max-width: 768px) {
    .header-org-btns > .left-btns {
      width: 40%;
    }
  
    .right-btns {
      width: 30%;
    }
  
    .form-left {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .new-org-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-org-btns > .left-btns {
      width: 100%;
    }
  
    .right-btns {
      width: 100%;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
  