.adm-container {
  width: 85%;
  background-color: white;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
}

.adm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.adm-left-header {
  display: flex;
  align-items: center;
  width: 52%;
  justify-content: space-between;
}

/* Media query for responsivenes Md  */
@media (max-width: 768px) {
  .adm-container {
    width: 90%;
    margin: 3%;
    padding: 2%;
  }

  .adm-left-header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
}
