.container{
    margin:0% 5%;
    padding: 3%;
}
.admin-info{
    display: flex;
    align-items: center;
    margin: 2% 0;
    padding-bottom: 2%;
}
.org-info-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rep-data{
    margin-left: 2%;
}
.left-header-content {
    display: flex;
    justify-content: flex-start;
}

.profile-pic{
    width: 10%;
    border-radius: 20px;
    overflow: hidden;
}

.profile-pic > img{
    width: 100%;
}
.admin-details{
    margin: 0 1%;
}

.admin-organization{
    border: none;
    padding: 2% 0;
    width: 100%;
}


.no-border{
    border: none;
}
