.container {
    width: 85%;
    background-color: white;
    margin: 3%;
    padding: 3%;
    border-radius: 20px;
  }
  
  .component-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .left-header-content {
    width: 60%;
  }
  
  .left-header-content > h1 {
    margin: 0 3%;
  }
  
  .right-header-content {
    margin-left: auto;
  }
  
  .profile-pic {
    width: 10%;
    border-radius: 20px;
    overflow: hidden;
    height: 150px;
  }
  
  .complaint-info {
    margin: 2% 0%;
    padding-top: 2%;
    border-top: 2px solid lightgray;
    display: flex;
    align-items: first baseline;
  }
  
  .description-heading {
    width: 30%;
  }
  
  .complaint-content {
    width: 70%;
  }
  
  .attachment-images {
    margin: 1% 0;
    width: 6%;
    border-radius: 10px;
    overflow: hidden;
    height: 65px;
  }
  

  
  .complain-by {
    margin-bottom: 2%;  
    padding-top: 2%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
  }
  
  .cmp-heading {
    font-size: 1.3em;
    font-weight: 600;
  }
  